{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">{% trans "Sign in to Star Wars" %}</h2>
            <p class="account-p text-center fs-5">{% blocktrans %}Welcome back to Star Wars. Please log in to continue
                from where you left
                off. If
                you
                do not have an account yet, then <a class="account-link text-decoration-none"
                    href="{{ signup_url }}">sign
                    up</a>
                first.{% endblocktrans %}</p>
        </div>
        <div class="row">
            <div class="col-md-8 mt-4 offset-md-2">
                {{ form.non_field_errors }}
                <form class="form-group fieldWrapper login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div>
                        {{ form.login.errors }}
                        <label for="id_login">Username</label>
                        <input type="text" class="form-control" name="login" placeholder="enter your full name here"
                            id="id_login" minlength="1" maxlength="150">
                    </div>
                    <br>
                    <div>
                        {{ form.password.errors }}
                        <label for="id_password">Password</label>
                        <input type="password" class="form-control" name="password" id="id_password"
                            placeholder="enter your password here" minlength="1" maxlength="50">
                    </div>
                    <p class="mt-3">
                        <label for="id_remember">Remember Me</label>
                        <input type="checkbox" name="remember" id="id_remember">
                    </p>
                    <div class="text-center">
                        <button class="neon-button-blue btn hvr-grow mt-2 mb-5 btn-login" type="submit">
                            {% trans "Sign In" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}