{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 text-center">
            <h2 class="fs-1 mb-5">{% trans "Sign out of Star Wars" %}</h2>
            <p class="fs-4 text-danger">{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-4 offset-md-2 text-center">F

        </div>
    </div>
</div>
{% endblock %}