{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="text-center mb-5">{% trans "Sign out of Star Wars" %}</h2>
            <p class="fs-4 account-danger">{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-4 offset-md-2 text-center">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <div class="text-center">
                    <button class="neon-button-red btn btn-lg btn-danger hvr-grow mt-4" type="submit">Sign Out</button>
                </div>
                <div class="text-center">
                    <a class="neon-button-green btn btn-secondary btn-lg mb-5 hvr-grow mt-5" href="{% url 'index' %}">Back to Home Page</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}