{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4">
            <h2 class="fs-1">{% trans "Sign up for Star Wars" %}</h2>
            <p class="fs-5">{% blocktrans %}Welcome to Star Wars. If you already have an account? Then please <a
                    class="link text-decoration-none" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">

        </div>
    </div>
</div>

{% endblock %}