{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">Breathing animation</h1>
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 300px;
        margin: auto;
        position: relative;
        transform: scale(1);
    }

    .gradient-circle {
        background: conic-gradient(lightgreen 0%,
                #3cff32 40%,
                #fff 40%,
                #fff 60%,
                darkgreen 60%,
                darkgray 100%);
        height: 320px;
        width: 320px;
        top: -10px;
        left: -10px;
        z-index: -2;
        border-radius: 50%;
        position: absolute;
    }

    .circle {
        background-color: aquamarine;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 50%;
    }

    .pointer-container {
        position: absolute;
        top: -40px;
        left: 140px;
        width: 20px;
        height: 190px;
        animation: rotate 7.5s linear forwards infinite;
        transform-origin: bottom center;
    }

    .pointer {
        background-color: #fff;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: block;
    }

    .container.grow {
        animation: grow 3s linear forwards;
    }

    .container.shrink {
        animation: shrink 3s linear forwards;
    }

    #innerText {
        color: #00050f;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes grow {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.2);
        }
    }

    @keyframes shrink {
        from {
            transform: scale(1.2);
        }

        to {
            transform: scale(1);
        }
    }
</style>

<h1>Breathing exercise</h1>
<div class="container">
    <div class="circle"></div>
    <p id="innerText"></p>
    <div class="pointer-container">
        <div class="pointer"></div>
    </div>
    <div class="gradient-circle"></div>
</div>

{% endblock %}

<script>
    const container = document.querySelector('.container');
    const text = document.querySelector('#innerText');

    const totalTime = 7500;
    const breathTime = (totalTime / 5) * 2;
    const holdTime = (totalTime / 5);

    breatheAnimation()

    function breatheAnimation() {
        text.innerHTML = 'Breath In!'
        container.className = 'container grow'

        setTimeout(() => {
            text.innerText = 'Hold!'

            setTimeout(() => {
                text.innerText = 'Breath Out!'
                container.className = 'container shrink'
            }, holdTime)
        }, breathTime)
    }

    setInterval(breatheAnimation, totalTime)
</script>