{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center mt-3">{{ user.username }}'s Profile</h1>
<div class="row">
<div class="container col-12 col-sm-6 col-md-4 col-lg-3 mx-auto my-4 mr-1">
    <div class="text-center">
        <img src="{% static user.userprofile.avatar_image %}" class="profile-img p-4 img-fluid rounded"
            alt="{{ user.userprofile.get_avatar_display }} avatar">
    </div>
    <p class="profile-level text-center py-3"><strong class="level-cat">Level:</strong> {{ user.userprofile.get_avatar_display }}
    </p>

    <h2 class="pb-3 text-center">Meditation History</h2>
    <ul>
        {% for session in meditation_sessions %}
        <li>{{ session.session_name }} ({{ session.created_on }})</li>
        {% endfor %}
    </ul>
<div class="text-center">
    <a href="{% url 'update_profile' %}" class="neon-button-blue mx-auto rounded text-decoration-none btn-lg">Edit Profile</a>
</div>
</div>
</div>
{% endblock %}