:root {
    --deep-blue: #00050f;
    --tatooine-yellow: #ffcc00;
    --blaze-orange: #ff8c00;
    --sith-red: #ff0000;
    --holo-cyan: #00ffff;
    --lightsaber-green: #00ff00;
    --droid-silver: #c0c0c0;
    --starfield-white: #f6f6f7;
    --void-grey: #101313;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    background-color: var(--deep-blue);
    font-family: "Share Tech Mono", monospace;
}

.brand {
    font-family: "Share Tech Mono", monospace;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--lightsaber-green);
}

.navbar-custom {
    border-radius: 15px;
    /* padding: 20px 0px; */
}

.footer-area {
    padding: 20px 0px;
    color: var(--starfield-white);
}

.footer-underline {
    height: 1px;
    width: 70px;
    background-color: var(--droid-silver);
    margin: 10px auto;
}

h4 {
    color: var(--tatooine-yellow);
}

h2 {
    color: var(--lightsaber-green);
}

a.link {
    color: var(--deep-blue);
    text-decoration: none;
}

a.link:hover {
    color: var(--holo-cyan);
}

/* Home page */
span.slogan {
    color: var(--tatooine-yellow);
    font-style: italic;
}

.hero-img {
    border: 5px solid var(--starfield-white);
    border-radius: 50%;
    box-shadow:
        0 0 10px var(--sith),
        /* Outer shadow (red) */
        0 0 10px var(--lightsaber),
        /* Outer shadow (green) */
        0 0 10px var(--tatooine),
        /* Outer shadow (yellow) */
        inset 0 0 10px var(--sith),
        /* Inner shadow (red) */
        inset 0 0 10px var(--lightsaber),
        /* Inner shadow (green) */
        inset 0 0 10px var(--tatooine);
    /* Inner shadow (yellow) */
}

.glowing-text {
    color: var(--lightsaber-green);
    text-shadow:
        0 0 5px #00ff00,
        0 0 10px #00ff00,
        0 0 20px #00ff00;
}

.session-button {
    background-color: var(--starfield-white);

}

/* About page */
.about-container {
    text-align: justify;
}

.about-section {
    color: var(--tatooine-yellow);
    text-align: center;
}

.about-content {
    color: var(--starfield-white);
}

p>span {
    color: var(--holo-cyan);
}

.card {
    background-color: var(--droid-silver);
    border: 5px solid var(--holo-cyan);
}

.card-title {
    background-color: var(--void-grey);
    color: var(--blaze-orange);
    padding: 1rem;
}