:root {
    --deep-blue: #00050f;
    --tatooine-yellow: #ffcc00;
    --blaze-orange: #ff8c00;
    --sith-red: #ff0000;
    --holo-cyan: #00ffff;
    --lightsaber-green: #00ff00;
    --droid-silver: #c0c0c0;
    --starfield-white: #f6f6f7;
    --void-grey: #101313;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    background-color: var(--deep-blue);
    font-family: "Share Tech Mono", monospace;
    color: var(--starfield-white);
}

h4 {
    color: var(--tatooine-yellow);
}

h2 {
    color: var(--lightsaber-green);
}

a.link {
    color: var(--deep-blue);
    text-decoration: none;
}

a.link:hover {
    color: var(--holo-cyan);
}

.brand {
    font-family: "Share Tech Mono", monospace;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--lightsaber-green);
}

.brand-name {
    font-family: "Climate Crisis", sans-serif;
}

.navbar-custom {
    border-radius: 15px;
}

a.nav-link {
    color: var(--holo-cyan);
}

a.nav-link:hover {
    color: var(--tatooine-yellow);
}

.navbar-nav .nav-link.active {
    color: var(--tatooine-yellow);
}

/* Footer */
.footer-area {
    padding: 20px 0px;
    color: var(--starfield-white);
}

.footer-underline {
    height: 1px;
    width: 70px;
    background-color: var(--droid-silver);
    margin: 10px auto;
}

.footer-content {
    color: var(--lightsaber-green);
}

.footer-link {
    color: var(--holo-cyan);
}

.footer-link:hover {
    color: var(--blaze-orange);
}

.fa-spotify:hover,
.fa-youtube:hover,
.fa-facebook:hover,
.fa-instagram:hover {
    color: var(--blaze-orange);
}

.footer-link:hover {
    color: var(--blaze-orange);
}

.fa-spotify:hover,
.fa-youtube:hover,
.fa-facebook:hover,
.fa-instagram:hover {
    color: var(--blaze-orange);
}

.img-hover-zoom {
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform .5s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.2);
}
.no-underline {
    text-decoration: none !important;
}
/* Buttons */
.neon-button-blue {
    background-color: transparent;
    border: 3px solid var(--holo-cyan);
    border-radius: 5px;
    color: var(--holo-cyan);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 5px var(--holo-cyan),
        0 0 10px var(--holo-cyan),
        inset 0 0 5px var(--holo-cyan),
        inset 0 0 10px var(--holo-cyan);
}

.neon-button-blue:hover {
    box-shadow: 0 0 15px var(--holo-cyan),
        0 0 20px var(--holo-cyan),
        inset 0 0 10px var(--holo-cyan),
        inset 0 0 15px var(--holo-cyan);
    color: var(--lightsaber-green);
}

.neon-button-red {
    background-color: transparent;
    border: 3px solid var(--sith-red);
    border-radius: 5px;
    color: var(--sith-red);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 5px var(--sith-red),
        0 0 10px var(--sith-red),
        inset 0 0 5px var(--sith-red),
        inset 0 0 10px var(--sith-red);
}

.neon-button-red:hover {
    box-shadow: 0 0 15px var(--sith-red),
        0 0 20px var(--sith-red),
        inset 0 0 10px var(--sith-red),
        inset 0 0 15px var(--sith-red);
    color: var(--blaze-orange);
}

.neon-button-green {
    background-color: transparent;
    border: 3px solid var(--lightsaber-green);
    border-radius: 5px;
    color: var(--lightsaber-green);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 5px var(--lightsaber-green),
        0 0 10px var(--lightsaber-green),
        inset 0 0 5px var(--lightsaber-green),
        inset 0 0 10px var(--lightsaber-green);
}

.neon-button-green:hover {
    box-shadow: 0 0 15px var(--lightsaber-green),
        0 0 20px var(--lightsaber-green),
        inset 0 0 10px var(--lightsaber-green),
        inset 0 0 15px var(--lightsaber-green);
    color: var(--droid-silver);
}

/* Home page */
.slogan {
    color: var(--tatooine-yellow);
    font-style: italic;
}

.hero-img {
    border: 7px solid var(--starfield-white);
    border-radius: 50%;
    box-shadow:
        10px 0 20px var(--sith-red),
        -10px 0 20px var(--lightsaber-green),
        0 10px 20px var(--tatooine-yellow),
        0 -10px 20px var(--tatooine-yellow),
        10px 0 25px var(--sith-red),
        -10px 0 25px var(--lightsaber-green),
        0 10px 25px var(--tatooine-yellow),
        0 -10px 25px var(--tatooine-yellow),
        inset 10px 0 20px var(--lightsaber-green),
        inset -10px 0 10px var(--sith-red),
        inset 0 10px 10px var(--tatooine-yellow),
        inset 0 -10px 10px var(--tatooine-yellow);
    margin: 2rem 0;
    padding: 1rem;
}

.glowing-text {
    color: var(--starfield-white);
    text-shadow:
        0 0 5px #00ff00,
        0 0 10px #00ff00,
        0 0 20px #00ff00;
}

/* About page */
.about-container {
    text-align: justify;
}

.about-section {
    color: var(--tatooine-yellow);
    text-align: center;
}

.about-content {
    color: var(--starfield-white);
}

p>span {
    color: var(--holo-cyan);
}

.card {
    background-color: var(--droid-silver);
    border: 5px solid var(--holo-cyan);
}

.card-title {
    background-color: var(--void-grey);
    color: var(--blaze-orange);
    padding: 1rem;
}

/* Account pages */
.account-p {
    color: var(--tatooine-yellow);
}

.account-danger {
    color: var(--blaze-orange);
}

.account-link {
    color: var(--sith-red);
}

.account-link:hover {
    color: var(--blaze-orange);
}

label {
    color: var(--droid-silver);
}

/* FAQ page */
.accordion-item {
    background-color: var(--droid-silver);
}

.accordion-button.collapsed,
.accordion-button:not(.collapsed) {
    background: var(--droid-silver);
    color: var(--blaze-orange);
}

.accordion-body {
    background-color: var(--starfield-white);
    color: var(--tatooine-yellow);
}

/* Session app */
.session-name {
    color: var(--tatooine-yellow);
}

.session-character {
    color: var(--holo-cyan);
}

.session-user {
    color: var(--blaze-orange);
}

.session-level {
    color: var(--sith-red);
}