:root {
    --galactic-blue: #00050f;
    --tatooine-yellow: #ffcc00;
    --blaze-orange: #ff8c00;
    --sith-red: #ff0000;
    --holo-cyan: #00ffff;
    --lightsaber-green: #00ff00;
    --droid-silver: #c0c0c0;
    --starfield-white: #f6f6f7;
    --void-grey: #101313;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--galactic-blue);
    color: var(--starfield-white);
    font-family: "Share Tech Mono", monospace;
    margin: 0;
    padding: 0;
}

/* Stars */
.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    /* Ensure stars are behind other content */
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--starfield-white);
    border-radius: 50%;
    animation: shine 2s infinite ease-in-out;
}

@keyframes shine {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

/* end stars */

main {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h4 {
    color: var(--tatooine-yellow);
}

h2 {
    color: var(--lightsaber-green);
}

h3 {
    color: var(--tatooine-yellow);
}

a.link {
    color: var(--galactic-blue);
    text-decoration: none;
}

a.link:hover {
    color: var(--holo-cyan);
}

.brand {
    color: var(--lightsaber-green);
    font-family: "Share Tech Mono", monospace;
    font-size: 1.4rem;
    font-weight: 700;
}

.brand-name {
    font-family: "Climate Crisis", sans-serif;
}

.navbar-custom {
    border-radius: 15px;
}

a.nav-link {
    color: var(--holo-cyan);
}

a.nav-link:hover {
    color: var(--tatooine-yellow);
}

.navbar-nav .nav-link.active {
    color: var(--tatooine-yellow);
}

button.shadow.navbar-toggler {
    background: var(--galactic-blue);
}

/* Burger shadow taken from https://css-tricks.com/different-ways-to-get-css-gradient-shadows/ */
.navbar-toggler {
    --s: 4px;
    /* the spread-radius */
    border: 2px solid var(--starfield-white);
    position: relative;
    transform: translate(0);
    transform-style: preserve-3d;
}

.shadow:before {
    background: conic-gradient(from 90deg at 40% -25%, #00ffff, #00ff00);
    clip-path: polygon(-100vmax -100vmax,
            100vmax -100vmax,
            100vmax 100vmax,
            -100vmax 100vmax,
            -100vmax -100vmax,
            calc(0px + var(--s)) calc(0px + var(--s)),
            calc(0px + var(--s)) calc(100% - var(--s)),
            calc(100% - var(--s)) calc(100% - var(--s)),
            calc(100% - var(--s)) calc(0px + var(--s)),
            calc(0px + var(--s)) calc(0px + var(--s)));
    content: "";
    filter: blur(10px);
    inset: calc(-1*var(--s));
    position: absolute;
    transform: translate3d(0, 0, -1px);
}

/* end */

/* Footer */
.footer-area {
    color: var(--starfield-white);
    padding: 10px 0px;
}

.footer-underline {
    background-color: var(--droid-silver);
    height: 1px;
    margin: 10px auto;
    width: 70px;
}

.footer-content {
    color: var(--lightsaber-green);
}

.footer-link,
.policy-link {
    color: var(--holo-cyan);
}

.footer-link:hover,
.policy-link:hover {
    color: var(--blaze-orange);
}

.fa-spotify:hover,
.fa-youtube:hover,
.fa-facebook:hover,
.fa-instagram:hover {
    color: var(--blaze-orange);
}

.footer-link:hover {
    color: var(--blaze-orange);
}

.fa-spotify:hover,
.fa-youtube:hover,
.fa-facebook:hover,
.fa-instagram:hover {
    color: var(--blaze-orange);
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.no-underline {
    text-decoration: none !important;
}

/* Buttons */
.neon-button-blue {
    background-color: transparent;
    border: 3px solid var(--holo-cyan);
    box-shadow: 0 0 5px var(--holo-cyan),
        0 0 10px var(--holo-cyan),
        inset 0 0 5px var(--holo-cyan),
        inset 0 0 10px var(--holo-cyan);
    border-radius: 5px;
    color: var(--holo-cyan);
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.neon-button-blue:hover {
    box-shadow: 0 0 15px var(--holo-cyan),
        0 0 20px var(--holo-cyan),
        inset 0 0 10px var(--holo-cyan),
        inset 0 0 15px var(--holo-cyan);
    color: var(--lightsaber-green);
}

.neon-button-red {
    background-color: transparent;
    border: 3px solid var(--sith-red);
    box-shadow: 0 0 5px var(--sith-red),
        0 0 10px var(--sith-red),
        inset 0 0 5px var(--sith-red),
        inset 0 0 10px var(--sith-red);
    border-radius: 5px;
    color: var(--sith-red);
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.neon-button-red:hover {
    box-shadow: 0 0 15px var(--sith-red),
        0 0 20px var(--sith-red),
        inset 0 0 10px var(--sith-red),
        inset 0 0 15px var(--sith-red);
    color: var(--blaze-orange);
}

.neon-button-green {
    background-color: transparent;
    border: 3px solid var(--lightsaber-green);
    box-shadow: 0 0 5px var(--lightsaber-green),
        0 0 10px var(--lightsaber-green),
        inset 0 0 5px var(--lightsaber-green),
        inset 0 0 10px var(--lightsaber-green);
    border-radius: 5px;
    color: var(--lightsaber-green);
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.neon-button-green:hover {
    box-shadow: 0 0 15px var(--lightsaber-green),
        0 0 20px var(--lightsaber-green),
        inset 0 0 10px var(--lightsaber-green),
        inset 0 0 15px var(--lightsaber-green);
    color: var(--droid-silver);
}

/* Home page */
.slogan {
    color: var(--tatooine-yellow);
    font-style: italic;
}

.hero-img {
    border: 7px solid var(--starfield-white);
    border-radius: 50%;
    box-shadow:
        10px 0 20px var(--sith-red),
        -10px 0 20px var(--lightsaber-green),
        0 10px 20px var(--tatooine-yellow),
        0 -10px 20px var(--tatooine-yellow),
        10px 0 25px var(--sith-red),
        -10px 0 25px var(--lightsaber-green),
        0 10px 25px var(--tatooine-yellow),
        0 -10px 25px var(--tatooine-yellow),
        inset 10px 0 20px var(--lightsaber-green),
        inset -10px 0 10px var(--sith-red),
        inset 0 10px 10px var(--tatooine-yellow),
        inset 0 -10px 10px var(--tatooine-yellow);
    margin: 2rem 0;
    padding: 1rem;
}

h1,
.glowing-text {
    color: var(--starfield-white);
    text-shadow:
        0 0 5px #00ff00,
        0 0 10px #00ff00,
        0 0 20px #00ff00;
}

/* About page */
.about-container {
    text-align: justify;
}

.about-section {
    color: var(--tatooine-yellow);
    text-align: center;
}

.about-content {
    color: var(--starfield-white);
    text-align: justify;
}

p>span {
    color: var(--holo-cyan);
}

/* Card Deck */
.card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

/* Card */
.card {
    background-color: var(--droid-silver);
    border: 5px solid var(--holo-cyan);
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.card-title {
    background-color: var(--void-grey);
    color: var(--blaze-orange);
    padding: 1rem;
}

.card-body {
    color: var(--galactic-blue);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card img {
    object-fit: cover;
}

.card a.link {
    margin-top: auto;
}

.card-text {
    color: var(--galactic-blue);
    flex: 1;
}

/* Account pages */
.account-p {
    color: var(--tatooine-yellow);
}

.account-danger {
    color: var(--blaze-orange);
}

.account-link {
    color: var(--sith-red);
}

.account-link:hover {
    color: var(--blaze-orange);
}

label {
    color: var(--droid-silver);
}

/* FAQ page */
.accordion-button.collapsed,
.accordion-button:not(.collapsed) {
    background: var(--void-grey);
    color: var(--blaze-orange);
}

.accordion-body {
    background-color: var(--droid-silver);
    color: var(--galactic-blue);
    text-align: justify;
}

/* Article page */
.article-body {
    text-align: justify;
}

.article-image {
    border: 3px solid var(--holo-cyan);
    max-width: 50%;
}

.article-link {
    color: var(--blaze-orange);
}

.article-link:hover {
    color: var(--tatooine-yellow);
}

/* Session app */
.session-name {
    color: var(--tatooine-yellow);
}

.session-character {
    color: var(--holo-cyan);
}

.session-user {
    color: var(--blaze-orange);
}

.session-level {
    color: var(--sith-red);
}

.equal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    border-radius: 20px;
    color: var(--starfield-white);
    height: 70%;
    text-align: center;
}

.modal-card {
    background-color: var(--galactic-blue);
}

.modal-content {
    border: 2px solid var(--droid-silver);
}

.modal-content,
.modal-header,
.modal-body,
.modal-footer {
    background: var(--void-grey);
}

.btn-close {
    background-color: var(--holo-cyan);
}

.session-error {
    color: var(--sith-red);
}

.background-op {
    background-color: var(--void-grey);
    border: 3px solid var(--blaze-orange);
    color: var(--starfield-white);
}

.meditation-span,
.meditation-instructions {
    color: var(--droid-silver);
}

.start-meditation {
    color: var(--blaze-orange);
}

.meditation-instructions2 {
    color: var(--lightsaber-green);
}

.modal-card {
    background-color: var(--void-grey);
}

/* Profile */
.profile-img {
    border: 2px solid var(--droid-silver);
    width: 50%;
}

/* Privacy Policy page */
.policy-p {
    color: var(--blaze-orange);
}

.policy-text {
    text-align: justify;
}

ul {
    list-style-type: circle;
    padding-left: 1rem;
}

/* --------------- */
/* Media quries */


/* ----------- Fixed bugs ------------ */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(0* var(--bs-gutter-x));
    margin-left: calc(0* var(--bs-gutter-x));
}