{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="div">
    <!--about content-->
</div>

<h2 class="text-center py-3">Meet the Team</h2>

<div class="container">
    <div class="row mx-auto">
        <!-- Card 1 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="#" alt="Image of team member">
                <div class="card-body">
                    <h3 class="card-title">team member</h3>

                    <p class="card-text">short description</p>
                    <a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
{% endblock %}