{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="div">
    <!--about content-->
    <h2>Unlock Next-Level Master Elite Force with Yoda</h2>
    <p>Location: The Ancient Jedi Temple on Ahch-To
        Journey to the mystical island of Ahch-To, where the ancient Jedi Temple stands as a beacon of wisdom and power.
        Here, amidst the serene surroundings and the echoing whispers of the Force, you are invited to unlock the
        next-level Master Elite Force with the legendary Jedi Master, Yoda. This exclusive experience is designed for
        those who seek to elevate their abilities and step into a new realm of mastery
        Description:
        Welcome to the pinnacle of Jedi meditation and training – a once-in-a-lifetime opportunity to unlock the
        next-level Master Elite Force, guided by the revered Master Yoda. This ultimate session combines the most
        advanced hemi sync technology with the profound technique of quantum jumping, tailored to enhance your abilities
        to protect and regenerate the galaxy’s code wars.
        Imagine standing at the heart of the ancient Jedi Temple, feeling the cool breeze of Ahch-To and hearing the
        gentle waves crash against the cliffs. The temple, bathed in the golden light of the setting sun, becomes the
        perfect sanctuary for this transformative journey. As you settle into your meditation space, surrounded by the
        rich history of the Jedi, Yoda’s calm and wise presence envelops you.
        With the ultimate hemi sync, your brainwaves are synchronized to the optimal frequency for deep meditation,
        unlocking hidden potential and connecting you deeply with the Force. Quantum jumping propels you across
        dimensions of consciousness, allowing you to tap into infinite wisdom and abilities from parallel realities.
        This combination creates an unparalleled meditative state, enhancing your intuition, mental clarity, and
        physical prowess.
        What You Get:
        Enhanced Abilities: Through this elite meditation, you will sharpen your Jedi reflexes, heighten your sensory
        perceptions, and amplify your mental acuity. Yoda’s guidance helps you to unlock powers you never knew you had,
        from telekinesis to advanced precognition.
        Protection Mastery: Learn the ancient techniques to shield yourself and others from dark forces. Yoda’s
        teachings equip you with the skills to create powerful defensive barriers and understand the intricate web of
        the Force that binds and protects.
        Regeneration Skills: Discover how to harness the Force for healing and renewal. This meditation reveals the
        secrets of accelerated physical recovery and emotional rejuvenation, allowing you to regenerate your own energy
        and that of the galaxy around you.
        Galactic Peacekeeper Training: Become a guardian of the galaxy’s code wars. Learn the strategic insights and
        advanced tactics necessary to maintain balance and order in the universe. Yoda imparts his vast knowledge of
        Jedi lore and cosmic conflict resolution.
        This next-level Master Elite meditation experience is not just a session; it’s a transformative journey that
        aligns you with the true essence of the Force. By the end of this profound practice, you will emerge as a Master
        Elite, ready to protect and regenerate the galaxy with unparalleled skill and wisdom.
        Embark on this extraordinary adventure and let the Force guide you to new heights. Join Yoda on Ahch-To, and
        unlock your destiny as a guardian of peace and justice in the galaxy. May the Force be with you, always. </p>
</div>

<h2 class="text-center py-3">Meet the Team</h2>

<div class="container">
    <div class="row mx-auto">
        <!-- Card 1 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="#" alt="Image of team member">
                <div class="card-body">
                    <h3 class="card-title">team member</h3>

                    <p class="card-text">short description</p>
                    <a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-auto">
                <!-- Card 1 -->
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="#" alt="Image of team member">
                        <div class="card-body">
                            <h3 class="card-title">team member</h3>

                            <p class="card-text">short description</p>
                            <a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a>
                            <p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mx-auto">
                        <!-- Card 1 -->
                        <div class="col-md-4 col-sm-6 mb-3">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="#" alt="Image of team member">
                                <div class="card-body">
                                    <h3 class="card-title">team member</h3>

                                    <p class="card-text">short description</p>
                                    <a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a>
                                    <p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mx-auto">
                                <!-- Card 1 -->
                                <div class="col-md-4 col-sm-6 mb-3">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="#" alt="Image of team member">
                                        <div class="card-body">
                                            <h3 class="card-title">team member</h3>

                                            <p class="card-text">short description</p>
                                            <a href="#" class="link">LinkedIn<i
                                                    class="icon pl-1 fa-brands fa-linkedin"></i></a>
                                            <p><a href="#" class="link">Github<i
                                                        class="icon pl-1 fa-brands fa-github"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row mx-auto">
                                        <!-- Card 1 -->
                                        <div class="col-md-4 col-sm-6 mb-3">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="#" alt="Image of team member">
                                                <div class="card-body">
                                                    <h3 class="card-title">team member</h3>

                                                    <p class="card-text">short description</p>
                                                    <a href="#" class="link">LinkedIn<i
                                                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                                                    <p><a href="#" class="link">Github<i
                                                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row mx-auto">
                                                <!-- Card 1 -->
                                                <div class="col-md-4 col-sm-6 mb-3">
                                                    <div class="card" style="width: 18rem;">
                                                        <img class="card-img-top" src="#" alt="Image of team member">
                                                        <div class="card-body">
                                                            <h3 class="card-title">team member</h3>

                                                            <p class="card-text">short description</p>
                                                            <a href="#" class="link">LinkedIn<i
                                                                    class="icon pl-1 fa-brands fa-linkedin"></i></a>
                                                            <p><a href="#" class="link">Github<i
                                                                        class="icon pl-1 fa-brands fa-github"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="row mx-auto">
                                                        <!-- Card 1 -->
                                                        <div class="col-md-4 col-sm-6 mb-3">
                                                            <div class="card" style="width: 18rem;">
                                                                <img class="card-img-top" src="#"
                                                                    alt="Image of team member">
                                                                <div class="card-body">
                                                                    <h3 class="card-title">team member</h3>

                                                                    <p class="card-text">short description</p>
                                                                    <a href="#" class="link">LinkedIn<i
                                                                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                                                                    <p><a href="#" class="link">Github<i
                                                                                class="icon pl-1 fa-brands fa-github"></i></a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container">
                                                            <div class="row mx-auto">
                                                                <!-- Card 1 -->
                                                                <div class="col-md-4 col-sm-6 mb-3">
                                                                    <div class="card" style="width: 18rem;">
                                                                        <img class="card-img-top" src="#"
                                                                            alt="Image of team member">
                                                                        <div class="card-body">
                                                                            <h3 class="card-title">team member</h3>

                                                                            <p class="card-text">short description</p>
                                                                            <a href="#" class="link">LinkedIn<i
                                                                                    class="icon pl-1 fa-brands fa-linkedin"></i></a>
                                                                            <p><a href="#" class="link">Github<i
                                                                                        class="icon pl-1 fa-brands fa-github"></i></a>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endblock %}