{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="about-container row mx-2">
    <div class="col-12 col-md-8 text-center mx-auto">
        <h1 class="text-center pb-3">Unlock Next-Level Master Elite Force with Yoda</h1>
        <p class="about-content">Immerse yourself in the wisdom of the Jedi with Inner Force, a Star Wars-themed
            meditation app. Featuring
            guided meditations narrated by iconic sounds and characters of Star Wars. Relax with Meesa, find your
            deepest force with Yoda, or achieve serenity with Obi-Wan Kenobi. Inner Force helps you channel your inner
            peace and mindfulness. Track your progress as a Jedi Padawan and explore a galaxy of resources designed to
            enhance your meditation journey. Meditate you must!</p>
        <h4 class="about-section">Location:</h4>
        <p class="about-content">The Ancient Jedi Temple on Ahch-To
            Journey to the mystical island of Ahch-To, where the ancient Jedi Temple stands as a beacon of wisdom and
            power.
            Here, amidst the serene surroundings and the echoing whispers of the Force, you are invited to unlock the
            next-level Master Elite Force with the legendary Jedi Master, Yoda. This exclusive experience is designed
            for
            those who seek to elevate their abilities and step into a new realm of mastery</p>
        <h4 class="about-section">Description:</h4>
        <p class="about-content">Welcome to the pinnacle of Jedi meditation and training – a once-in-a-lifetime
            opportunity to unlock the next-level Master Elite Force, guided by the revered Master Yoda. <br>This
            ultimate session combines the most advanced hemi sync technology with the profound technique of quantum
            jumping, tailored to enhance your abilities to protect and regenerate the galaxy’s code wars.<br>
            Imagine standing at the heart of the ancient Jedi Temple, feeling the cool breeze of Ahch-To and hearing the
            gentle waves crash against the cliffs. The temple, bathed in the golden light of the setting sun, becomes
            the perfect sanctuary for this transformative journey. As you settle into your meditation space, surrounded
            by the rich history of the Jedi, Yoda’s calm and wise presence envelops you.
            With the ultimate hemi sync, your brainwaves are synchronized to the optimal frequency for deep meditation,
            unlocking hidden potential and connecting you deeply with the Force. Quantum jumping propels you across
            dimensions of consciousness, allowing you to tap into infinite wisdom and abilities from parallel realities.
            This combination creates an unparalleled meditative state, enhancing your intuition, mental clarity, and
            physical prowess.</p>
        <h4 class="about-section">What You Get:</h4>
        <p class="about-content"><span>Enhanced Abilities:</span> Through this elite meditation, you will sharpen your
            Jedi reflexes, heighten your sensory perceptions, and amplify your mental acuity. Yoda’s guidance helps you
            to unlock powers you never knew you had, from telekinesis to advanced precognition.<br>
            <span>Protection Mastery:</span> Learn the ancient techniques to shield yourself and others from dark
            forces. Yoda’s teachings equip you with the skills to create powerful defensive barriers and understand the
            intricate web of the Force that binds and protects.<br>
            <span>Regeneration Skills:</span> Discover how to harness the Force for healing and renewal. This meditation
            reveals the secrets of accelerated physical recovery and emotional rejuvenation, allowing you to regenerate
            your own energy and that of the galaxy around you.<br>
            <span>Galactic Peacekeeper Training:</span> Become a guardian of the galaxy’s code wars. Learn the strategic
            insights and advanced tactics necessary to maintain balance and order in the universe. Yoda imparts his vast
            knowledge of Jedi lore and cosmic conflict resolution. This next-level Master Elite meditation experience is
            not just a session; it’s a transformative journey that
            aligns you with the true essence of the Force. By the end of this profound practice, you will emerge as a
            MasterElite, ready to protect and regenerate the galaxy with unparalleled skill and wisdom.<br>
            Embark on this extraordinary adventure and let the Force guide you to new heights. Join Yoda on Ahch-To, and
            unlock your destiny as a guardian of peace and justice in the galaxy. May the Force be with you, always.
        </p>
    </div>
</div>

<h2 class="text-center py-3">Meet the Team</h2>

<div class="team-container text-center mx-auto">
    <div class="row mx-auto">
        <div class="card-deck d-flex mx-auto">
            <!-- Card 1 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/amanda.jpeg' %}" alt="Image of team member Amanda">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Amanda Mascurine</h3>

                        <p class="card-text">Quantum Mechanics | Consciousness Upgrade Enthusiast</p>
                        <a href="www.linkedin.com/in/amanda-mascurine" target="_blank" class="link">LinkedIn<i
                                class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/AmandaCIdev" target="_blank" class="link">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a></p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/muhammad_bilal.png' %}"
                        alt="Image of team Muhammad">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Muhammad Bilal</h3>

                        <p class="card-text">TO ADD</p>
                        <a href="https://www.linkedin.com/in/muhammad-bilal-91a1869a/" target="_blank"
                            class="link">LinkedIn<i class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/MBilalQureshi" target="_blank" class="link">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a></p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/craig_allen.jpeg' %}"
                        alt="Image of team member Craig">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Craig Allen</h3>

                        <p class="card-text">TO ADD</p>
                        <a href="https://www.linkedin.com/in/craig-allen-dev/" target="_blank" class="link">LinkedIn<i
                                class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/craigallendev" target="_blank" class="link">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/fernando_goncalves.png' %}"
                        alt="Image of team member Fernando">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Fernando Goncalves</h3>

                        <p class="card-text">TO ADD</p>
                        <a href="https://www.linkedin.com/in/fernando-goncalves2202/" target="_blank"
                            class="link">LinkedIn<i class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/Goncalves95" target="_blank" class="link">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a></p>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/kati_molnar.jpeg' %}"
                        alt="Image of team member Kati">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Kati Molnar</h3>

                        <p class="card-text">TO ADD</p>
                        <a href="https://www.linkedin.com/" target="_blank" class="link">LinkedIn<i
                                class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/molnarlin" target="_blank" class="link">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a></p>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/katarina_nadia.jpeg' %}"
                        alt="Image of team member Katarina">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Katarina Nadia
                        </h3>

                        <p class="card-text">TO ADD</p>
                        <a href="https://www.linkedin.com/in/katarina-nadia-483177153/" target="_blank"
                            class="link">LinkedIn<i class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/k-nadia" target="_blank" class="link">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/samuel_anderson.jpeg' %}"
                        alt="Image of team member Samuel">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Samuel Anderson</h3>

                        <p class="card-text">TO ADD</p>
                        <a href="https://www.linkedin.com/in/samuel-anderson-712a11241/" target="_blank"
                            class="link pl-2">LinkedIn<i class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/samuelandersoncodes" target="_blank" class="link pl-2">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card mx-auto" style="width: 24rem;">
                    <img class="card-img-top" src="{% static 'images/viola_bergere.jpeg' %}"
                        alt="Image of team member Viola">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title rounded">Viola Bergere</h3>

                        <p class="card-text">SCRUM and Design Enthusiast</p>
                        <a href="https://www.linkedin.com/in/viola-bergere-5a668699/" target="_blank"
                            class="link">LinkedIn<i class="icon px-2 fa-brands fa-linkedin"></i></a>
                        <p><a href="https://github.com/violaberg" target="_blank" class="link">Github<i
                                    class="icon px-2 fa-brands fa-github"></i></a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}