{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="row mx-auto mb-3">
        <h1 class="text-center pb-4">Frequently Asked Questions</h1>
        <div class="col">
            <div id="faq-section">
                <div class="accordion" id="faqAccordion">
                    {% for faq in faqs %}

                    <!-- FAQ Item -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="faqHeading{{ faq.id }}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse{{ faq.id }}" aria-expanded="true" aria-controls="faqCollapse{{ faq.id }}">
                                {{ faq.question }}
                            </button>
                        </h3>
                        <div id="faqCollapse{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="faqHeading{{ faq.id }}" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
