{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->

<div class="container h-100 my-3 py-3">
    <div class="row mx-auto h-100">
        <div class="col-12 col-md-6 text-center mx-auto my-auto">
            <h4 class="slogan mx-auto">
                "Luminous beings are we,<br>not this crude matter!" - Yoda
            </h4>
        </div>
        <div class="row text-center my-3">
            <div class="col-md-10 col-sm-12 col-xl-10 mx-auto">
                <img src="{% static 'images/logo.png' %}" alt="Yoda meditating"
                    class="hero-img mx-auto img-fluid">
                    <h1 class="glowing-text mt-4">INNER<br>FORCE</h1>
                    <h2 class="mt-2">Meditate like a Jedi</h2>
                    <a type="submit" href="{% url 'session_create' %}"
                    class="neon-button-blue btn-lg hvr-grow text-uppercase rounded p-3 mb-5 mt-5">Start Session</a>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}