{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container h-100 py-3">
    <audio preload="auto" autoplay>
        <source src="/static/sounds/star_wars_original_opening_crawl_1977.mp3" type="audio/mpeg" />
    </audio>
    <div class="row mx-auto h-100">
        <div class="col-12 col-md-6 text-center mx-auto my-auto">
            <h4 class="slogan mx-auto">
                "Luminous beings are we,<br>not this crude matter!" - Yoda
            </h4>
        </div>
        <div class="row text-center">
            <div class="col-md-10 col-sm-12 col-xl-10 mx-auto">
                <img src="{% static 'images/logo.png' %}" alt="Yoda meditating" class="hero-img mx-auto img-fluid">
                <h1 class="brand-name mt-4">INNER<br>FORCE</h1>
                <h2 class="mt-2">Meditate like a Jedi</h2>
                {% if user.is_authenticated %}
                <a type="submit" href="{% url 'session_create' %}"
                    class="neon-button-blue btn-lg hvr-grow text-uppercase rounded text-decoration-none p-2 mt-2">Start
                    Session</a>
                {% else %}
                <a type="submit" href="{% url 'account_signup' %}"
                    class="neon-button-blue btn-lg hvr-grow text-uppercase rounded text-decoration-none p-2 mt-2 me-4 width-fix-href">sign up</a>
                <a type="submit" href="{% url 'account_login' %}"
                    class="neon-button-green btn-lg hvr-grow text-uppercase rounded text-decoration-none p-2 mt-2 width-fix-href">sign in</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}