{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="text-center pb-3">Articles and Resources</h1>

<div class="article-container mx-auto">
    <div class="row mx-auto">
        <div class="card-deck d-flex mx-auto">
            {% for article in articles %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card text-center text-decoration-none">
                    <a href="{% url 'article_detail' slug=article.slug %}">
                        {% if article.image %}
                        <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                        {% else %}
                        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="Placeholder Image">
                        {% endif %}
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title text-center rounded">{{ article.title }}</h3>
                        <p class="article-body card-text">
                            {{ article.body|truncatewords:20 }}
                        </p>
                        <a href="{% url 'article_detail' slug=article.slug %}" class="link mt-auto"><i class="icon px-2 fa-solid fa-link"></i>Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
