body {
    background-color: #00050f;
}

.brand {
    font-family: "Share Tech Mono", monospace;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3cff32;
}

.navbar-custom {
    border-radius: 15px;
    /* padding: 20px 0px; */
}

.footer-area{
    padding: 20px 0px;
    color: #fff;
}

.footer-underline{
    height: 1px;
    width: 70px;
    background-color: #ddd;
    margin: 10px auto;
}